.badge {
  background-color: tomato;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  left: 15px;
  bottom: 20px;
}
