.nav {
  position: fixed;
  bottom: 0;
  width: 120%;
  background-color: #fafafa;
  padding: 20px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: inherit;
  position: relative;
}
.nav_notification {
  background-color: tomato;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__ellipsis {
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: tomato;
  position: absolute;
  left: 25px;
  top: -15px;
}
