.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}
.screen-header__title {
  font-size: 24px;
  font-weight: 800;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
