.user-component {
  justify-content: space-between;
  margin: 0px 25px;
  margin-bottom: 30px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__text span i {
  color: tomato;
}
.user-component__title {
  margin-bottom: 8px;
}
