@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/point.css";
@import "component/icon-row.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
  margin: 15px;
}
main {
  margin: 0px 5px;
}
