.screen-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.screen-icons_text {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  position: relative;
}
.screen-icons_qrcode {
  position: absolute;
  left: 60px;
}
.Recommended {
  font-weight: 400;
}
.Recommended-title {
  color: rgba(0, 0, 0, 0.5);
}
.Recommended-box2 {
  height: 360px;
  width: 380px;
}
.Recommended-friends {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Openchat-screen__header {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}
.Openchat-screen__home {
  display: flex;
  justify-content: flex-end;
}
