.find-icons {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px;
  padding-bottom: 35px;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  font-size: 35px;
}
.find-icons__icon span {
  margin-top: 18px;
}
.recommended-friends {
  margin: 25px 20px;
  padding: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}
.recommended-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended-friends span {
  display: block;
  margin: 110px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
